<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.serviceModel>

      <bindings>
         <!-- Application Binding -->
         <netTcpRelayBinding>
            <binding name="default" connectionMode="Hybrid">
               <security mode="None" />
            </binding>
         </netTcpRelayBinding>
      </bindings>

      <client>
         <!-- Application Endpoint -->
         <endpoint name="ClientEndpoint"
                   contract="ICloudBoxingService"
                   binding="netTcpRelayBinding"
                   bindingConfiguration="default"
          />
      </client>

      <services>
         <service name="CloudBoxingService">
            <endpoint binding="netTcpRelayBinding" bindingConfiguration="default"
               name="RelayEndpoint" contract="ICloudBoxingService" />
         </service>
      </services>

   </system.serviceModel>
</configuration>